*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.numbersWrapper{
    display: grid;
    grid-template-columns: repeat(5, 5rem);
    column-gap: 3rem;
    row-gap: 30px;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
   

}
.number{
    
    box-shadow: 2px 2px 2px 2px;
    padding: 1.7rem 0;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: 900;
    align-items: center;
    cursor: pointer;
    
    
}

.roll{

background-color: #5035FF;
color: white;
font-weight: 900;
border-radius: 5px;
padding: 1rem 3.5rem;
display: block;
margin-top: 80px;
margin-left: auto;
margin-right: auto;
margin-bottom: 40px;
font-size: 1.5rem;


}



.howToPlay{
    max-width: 800px;
    min-width: 300px;
    margin: 50px 0;
    font-size: 1.2rem;
    font-weight: 900;
}

.confetti{
margin-left: auto;
margin-right: auto;

}

label{
    font-weight: 900;
    font-size: 1.5rem;
    padding-bottom: 50px;
}